{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-react" //needed for jsx transformation, etc.
    ],
    "plugins": [
        "@pmmmwh/react-refresh-webpack-plugin"
    ]
}